<!DOCTYPE html>
<html>
<!-- <div>
    <a routerLink="/search" routerLinkActive="active ">search</a>
    <a routerLink="/favorites" routerLinkActive="active">favorites</a>
</div> -->

  
    <!-- Creating a navigation bar using the
         .navbar class of bootstrap -->
    <nav class="navbar navbar-expand-lg mb-5">
  
        <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/search" routerLinkActive="active ">
                    search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/favorites" routerLinkActive="active">
                    favorites
                </a>
            </li>
        </ul>
    </nav>

</html>