<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>1322210218362314</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1322210218362314</string>
	<key>FacebookClientToken</key>
	<string>527c55e3f7d5bf0527e2361928bb8caa</string>
	<key>FacebookDisplayName</key>
	<string>TicketSearch</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger-share-api</string>
		<string>fbapi</string>
	</array>
</dict>
</plist>
