<!-- <div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
      <td mat-cell *matCellDef="let row">{{row.amount}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
  <div class ="text-light">
        <ul *ngIf="message && message.length">
            <li *ngFor="let event of message">
                {{event?.url}}
            </li>
        </ul>
    </div>
</div> -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dates.start.localDate}} {{element.dates.start.localTime}}</td>
    </ng-container>

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef> icon </th>
      <td mat-cell *matCellDef="let element"> 
        <img src="{{element.images[0].url}}" width="50px" height="50px"/> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef> event </th>
      <td mat-cell *matCellDef="let element">
        <a id = "ev-name" href="{{element.url}}" target="_blank" style= "cursor: pointer">{{element.name}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef> genre </th>
      <td mat-cell *matCellDef="let element"> {{element.classifications[0].segment.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="venue">
      <th mat-header-cell *matHeaderCellDef> venue </th>
      <td mat-cell *matCellDef="let element"> {{element._embedded.venues[0].name}}</td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

