.scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.below-title1 {
    border: none;
    color: rgb(102, 102, 95);
    margin-right:25px;
    margin-left:120px;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    line-height:1%
  }
.below-title {
    border: none;
    color: rgb(102, 102, 95);
    margin-right:25px;
    text-decoration: none;
    font-style: italic;
    text-align: center;
    line-height: 1%;
  }
.home-title{
    font-family:Georgia;
    font-size: 62px;
    font-weight: 500;
    line-height: 1%;
    text-align: center;
}
.upper-div {
    width:750px;
    border-color:black;
    border-style:groove;
    margin:auto;
    margin-top: 40px;
    padding-bottom: 30px;
    position:static;

  }
  .lower-div {
    width: 50%;
    margin-top: 30px;
    margin-left: 600px;
    margin-bottom: 30px;

  }
.crop{
  width: 430px;
  height: 450px;
  object-fit:cover;
  margin-left: 5px;
  margin-bottom: 3px;
}
.nature{
  font-family:georgia;
  font-size: 30px;
  font-style:normal;
  font-weight: 300;
  line-height: 10%;
}
.empty{
  margin-top: 60px;
  display:hide;
}
.author-credit{
  font-family:Georgia;
  font-size: 11px;
  line-height: 1%;
  text-align: center;
  font-style: italic;
}
.at-div{
  margin:auto;
}
.social {
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;

}
.crop-social1{
  width: 21px;
  height: 21px;
  margin-left: 1000px;
  margin-right: 20px;
  object-fit:cover;
}
.crop-social{
  width: 21px;
  height: 21px;
  object-fit:cover;
  margin-right: 20px;
}